.cards {
  font-family: "Inter", Arial, sans-serif;
  margin-top: 30px;
  padding: 15px 0 18px;
}

.cards__list {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 919px) {
  .cards__list {
    justify-content: center;
  }
}
